@import '../../styles/shared-styles.scss';

.container {
    color: black;
    margin-top: 100px;
    margin-bottom: 10px;
}

.row {
    width: 100%; /* Đảm bảo nó chiếm hết chiều rộng màn hình */
    display: flex;
    justify-content: center; /* Căn giữa các phần tử con */
}

.login-form {
    background-color: $shopapp-background-color;
    border-radius: 10px;
    padding: 20px;
    width: 100%;
    max-width: 500px; /* Giới hạn chiều rộng */
    border: 1px solid rgb(32, 34, 60);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-header {
    text-align: center;
    color: $shopapp-title-color;
    margin-bottom: 20px; /* Thêm khoảng cách dưới tiêu đề */
}

.form-control {
    background-color: transparent;
    border: none;
    color: black;
    padding: 10px;
    width: 100%; /* Chiếm toàn bộ chiều rộng của form */
}

.form-control:focus {
    color: black;
    background-color: transparent;
    outline: none;
    border-color: transparent;
}

.divider-nospace {
    border-top: 1px solid white;
    margin: 10px 0; /* Thêm khoảng cách cho divider */
}

.password-field {
    position: relative;
    width: 100%;
}

.password-toggle {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    color: $shopapp-title-color;
    cursor: pointer;
}

.checkbox-text {
    color: rgb(243, 165, 42);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.checkbox-text input[type="checkbox"]:checked {
    border-color: black;
    background-color: $shopapp-tint-color;
}

.form-check-input {
    margin-right: 5px;
}

.register-link {
    color: blue;
    text-decoration: none;
    cursor: pointer;
}

.register-link:hover {
    color: $shopapp-color;
}

.access-right {
    margin-top: 20px;
    width: 200px;
    color: black;
    background-color: $shopapp-background-color !important;
    border: 1px solid $shopapp-tint-color;
}

.access-right:focus {
    border: 1px solid $shopapp-tint-color;
}

.form-control::placeholder {
    color: gray;
    opacity: 1;
}

.form-control:-ms-input-placeholder {
    color: rgba(243, 165, 42, 0.4);
}

.form-control::-ms-input-placeholder {
    color: rgba(243, 165, 42, 0.4);
}

.login-button {
    background: linear-gradient(to right, $shopapp-tint-color, $shopapp-color);
    border-radius: 30px;
    width: 100%;
    padding: 10px 0;
    margin-top: 20px;
    border: none;
    font-weight: 500;
    color: white; /* Đảm bảo văn bản có thể nhìn thấy rõ */
    cursor: pointer;
}

.divider {
    height: 1px;
    background-color: rgb(243, 165, 42);
    margin: 20px 0;
}

label {
    font-weight: bold;
}

.btn-google {
    align-items: center;
    justify-content: center;
    background-color: #DB4437; /* Màu của Google */
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    display: flex;
    width: 100%; /* Đảm bảo button có chiều rộng phù hợp */
}

.btn-google:hover {
    background-color: #cc3127; /* Màu hover */
}

.btn-facebook {
    background-color: #3b5998; /* Màu của Facebook */
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    display: flex;
    width: 100%; /* Đảm bảo button có chiều rộng phù hợp */
}

.btn-facebook:hover {
    background-color: #2d4373; /* Màu hover */
}

.button-group {
    display: flex;
    justify-content: space-between;
    gap: 10px; /* Thêm khoảng cách giữa các nút */
    margin-top: 20px;
}

.button-group .btn-google, .button-group .btn-facebook {
    flex: 1; /* Đảm bảo các nút có chiều rộng bằng nhau */
}
