<div style="margin-bottom: 40px"></div>
<div
  class="main"
  style="
    border: 1px solid;
    border-color: #fff;
    background-color: #fff;
    border-radius: 4px;
  "
>
  <div class="row" style="margin-left: 5px; margin-right: 5px">
    <div
      class="col-10"
      style="font-weight: bolder; font-size: 30px; margin-top: 20px"
    >
      @for (category of categories; track category.id) {
        @if (category.id == categoryId) {
          <h2 class="title">{{ category.name }}</h2>
        }
      }
    </div>
    <div class="col-2" style="font-size: 20px; margin-top: 20px">
      <a href="/categories?keyword=&selectedCategoryId=1">
        <h2>Xem tất cả</h2>
      </a>
    </div>
  </div>
  <swiper-container
    class="row"
    [slidesPerView]="slidesPerView"
    navigation="true"
    [spaceBetween]="20"
    pagination-clickable="true"
    pagination="true"
  >
    @for (product of products; track product.id) {
      @if (product.category_id == categoryId) {
        <swiper-slide>
          <div class="card">
            <div class="product-item">
              <app-product-cart [product]="product"></app-product-cart>
            </div>
          </div>
        </swiper-slide>
      }
    }
  </swiper-container>
</div>

<div></div>
